<p>
  What my associate is trying to say is that our new brake pads are really cool.
  You're not even gonna believe it.
</p>
<p>
  Like, um, let's say you're driving along
  the road, with your family.<br />
  And you're driving along...la de da...woo...<br />
  And then all of a sudden
  there's a truck tire
  in the middle of the road
  and you hit the brakes.<br />
  Screeeee!
</p>
<p>
  Woah, that was close.
</p>
<p>
  Now let's see what happens when you're
  driving with "the other guy's brake pads".
</p>
<p>
  You're driving along,<br />
  you're driving along,<br />
  and all of a sudden your kids are
  yelling from the back seat:<br />
  "I gotta go to the bathroom, daddy!"<br />
  "Not now, dammit!"<br />
  "Truck tire! I can't stop! Aaaaa! Help!"<br />
  "There's a cliff! Aaaaa!"<br />
  And your family screaming:<br />
  "Oh my God, we're burning alive!"<br />
  "No! I can't feel my legs!"<br />
  Here comes the meat-wagon! Woo woo woo!<br />
  And the medic gets out and says:<br />
  "Oh! My! God!"<br />
  New guy's in the corner puking his guts out:<br />
  Blllleeeeeeeaaaaaaaaaaah!<br />
  Blllleeeeeeeaaaaaaaaaaah!<br />
</p>
<p>
  All because you wanna save a coupla extra pennies.
</p>
<a href="/more">&laquo; inflict me with more &raquo;</a>
