<p>
  D+? Oh my God! I passed! I passed! Oh, man i got a D+! I'm gonna graduate!
  I'm gonna graduate! D+!
</p>
<p>
  Hey guys, do i look different now that i'm a college grad?
</p>
<p>
  Apparently they give a lot fewer D+'s than D-'s.
  It's not a grade they like to give out, i'll tell ya that right now.
</p>
<a href="/">&laquo; take me back &raquo;</a>
